nav {
    top: 0;
    background-color: #333333;
    position: fixed;
    width: 100%;
    }

li {
    float: left;
    display: inline;
    padding-left: 40px;
}

li a {
    color: #ff0099;
    font-size: 15px;
}

ul {
    margin: 0px;
    overflow: hidden;
    padding: 12px;
    padding-left: 10%;
    padding-right: 10%;
    float: right;
}

img {
    padding-left: 12px;
    padding-top: 12px;
    float: left;
}

body {
    margin-top: 76px;
    padding: 0;
    font-family: 'Roboto', courier; 
    background-image: url('Assets/topography.png');
    line-height: 2em;
    }

div { 
    padding-left: 10%;
    padding-right: 10%;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 25px;
    text-align: center;
}

h3 {
    font-size: 20px;
}

.aboutmyself h2 {
    color: #ff0099;
    font-size: 20px;
    text-align: left;
}

p {
    font-size: 15px;
}

.elvalaszto {
    text-align: center;
}

html {
    margin: 0;
    padding: 0;
}